:root {
    --black: #050402;
    --white: #fafafa;
    --color: rgb(234, 55, 31);
}

body {
    background-color: var(--black);
    color: var(--white);
}


.div-title {
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0d;
}

.div-custom {
   min-height: 90vh;
}

.nav-custom {
    background-color: transparent;
    color: var(--white);
}

.nav-link {
    color: var(--white);
    font-weight: 600;
}

.nav-link:hover {
    color: var(--color);
    font-weight: 600;
}

.nav-link-foot {
    color: var(--black);
    font-weight: 300;
    text-decoration: none;
}

.nav-link-foot:hover {
    color: var(--color);
    font-weight: 300;
}



.nav-scroll {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}


/* button hamburger collapse senza bordo */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}


/* hamburger menu chiuso */
.nav-hamburger{
    height: 20px;
    width: 30px;
    position: relative;
    top: 0px;
    left: 0px;
    transform: rotate(0deg);
    transition: all ease-in-out 0.3s;
    z-index: 100;
  }
  
  .nav-hamburger span {
    width: 100%;
    height: 2px;
    display: block;
    background-color: var(--white);
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  .nav-hamburger span:nth-child(1) {
    top: 0px;
    width: 100%;
    transition: all ease-in-out 0.3s;
  }
  .nav-hamburger span:nth-child(2),
  .nav-hamburger span:nth-child(3) {
    top: 10px;
    width: 60%;
    transition: all ease-in-out 0.2s;
  }
  .nav-hamburger span:nth-child(4) {
    top: 20px;
    width: 85%;
    transition: all ease-in-out 0.3s;
  }
  
  /* hamburger menu aperto */
  .menu_open .nav-hamburger{
    /* transform: rotate(180deg); */
    transition: all 0.3s;
  }
  .menu_open .nav-hamburger span:nth-child(1) {
    top: 10px;
    width: 100%;
    transform: rotate(45deg);
    transition: all ease-in-out 0.3s;
  }
  .menu_open .nav-hamburger span:nth-child(2),
  .menu_open .nav-hamburger span:nth-child(3) {
    top: 10px;
    width: 0%;
  }
  .menu_open .nav-hamburger span:nth-child(4) {
    top: 10px;
    width: 100%;
    transform: rotate(-45deg);
    transition: all ease-in-out 0.3s;
  }
  /* fine hamburger */



/* sezione social */

.social {
    position: fixed;
    margin-top: 30%;
    margin-left: 94%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    mix-blend-mode: difference;
}

.line {
    content: "";
    display: block;
    width: 4px;
    height: 200px;
    margin-bottom: 15px;
    background-color: var(--white);
}

.social ul {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.social ul li {
    list-style: none;
    padding: 15px 0px;
    font-weight: 600;
}

/* fine sezione social */


/* inizio prima sezione */
.title-color {
    color: var(--color);
}

.img-custom {
    max-height: 300px;
    border-radius: 50%;
}

.expand_icon {
    color: var(--white);
    font-size: 4rem;
    animation: jumpInfinite 1.5s infinite;
}

@keyframes jumpInfinite {
    0% {
      transform: translateY(0px);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* fine prima sezione */


/* inizio seconda sezione, con chi sono */

.div-about{
    min-height: 700px;
}

.img-about {
    width: 300px;
    transition: all ease-in-out 0.3s;
}

.img-about:hover {
    transform: translateX(-10px) translateY(-20px);
    transition: all ease-in-out 0.3s;
    box-shadow: 10px 20px 0px var(--color);
}

.title-about {
    text-shadow: 20px 20px 0px rgba(234, 55, 31, 0.7);
}

.list_about {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
}


.service-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.div-list {
    min-height: 600px;
}

/* fine della terza sezione della homepage */

/* inizio sezione skills della homepage */

.div-skills {
    min-height: 700px;
    margin-bottom: 50px;
}

.card-skills {
    border-radius: 0px;
    background-color: #0d0d0d;
    color: var(--white);
    width: 100%;
    height: 300px;
    transition: all ease-in-out 0.3s;
}

.card-skills:hover {
    transform: translateX(-10px) translateY(-20px);
    transition: all ease-in-out 0.3s;
    box-shadow: 10px 20px 0px var(--color);
}

.title-skills {
    text-shadow: 20px 20px 0px rgba(234, 55, 31, 0.7);
}